
    @using System.Activities.Statements
    @using DataAccess.Model
    @model IList<Rezervace>


    @{
        ViewBag.Title = "Moje rezervace";
    }

    <div class="jumbotron">
        <h2>Moje objednávky</h2>

        <div style="overflow-x:auto">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Uživatel</th>
                        <th>Zboží</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Rezervace r in Model)
                    {
                        <tr>
                            <td>@r.Id</td>
                            <td>@r.User</td>
                            @if (r.Lepenka == null && r.Kartonaz != null)
                            {
                                <td>@r.Kartonaz</td>
                            }
                            else
                            {
                                <td>@r.Lepenka</td>
                            }
                            <td>@r.Datum</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (ViewBag.Pages != null)
        {

            <ul class="pagination">

                @for (int i = 1; i <= ViewBag.Pages; i++)
                {

                    <li class="@(ViewBag.CurrentPage == i ? "active" : "")"><a href="@Url.Action("Index", "Rezervace", new { page = i })">@i</a></li>

                }
            </ul>
        }
    </div>