
@using DataAccess.Model
@model IList<RapapUser>


@{
    ViewBag.Title = "Index";
}

<h2>Registorovaní uživatelé</h2>

<a href="@Url.Action("Create","User")" class="btn btn-default pull-right">Registrace</a>
<div class="clearfix"></div>

<br/>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Login</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (RapapUser u in Model)
        {
            <tr>
                <td>@u.Jmeno</td>
                <td>@u.Prijmeni</td>
                <td>@u.Login</td>
                <td>@u.Role.Identifikator</td>
            </tr>
        }
    </tbody>
</table>